.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  font-family: "Sora";
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  text-align: center;
}

.cart-modal-content h2 {
  text-align: center;
  color: var(--azul-1);
}

.cart-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 15px;
  align-items: center;
  color: var(--azul-2);
}

.cart-item p {
  font-family: "Comfortaa";
  font-weight: 900;
  margin: 0.3rem auto;
  color: var(--dorado);
}

.cart-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-controls span {
  font-size: 1.5em;
  font-family: "Comfortaa";
  font-weight: 900;
  margin: 0 1rem;
  color: var(--azul-2);
}

.cart-controls button {
  margin: 0 5px;
  padding: 0%;
  font-size: 1em;
  color: var(--azul-1);
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0.3s ease, color 0.3s ease;
}

.cart-controls button:hover {
  color: var(--dorado);
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.cart-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.cart-actions button {
  background-color: var(--azul-2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.cart-actions button:hover {
  background-color: var(--dorado);
  transform: scale(1.2);
  transition: transform background-color 0.3s ease;
}

.cart-total {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dorado);
  margin-bottom: 1rem;
}
