.floating-cart-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  background-color: var(--azul-2);
  color: var(--blanco);
  border: none;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
