.home-container {
  max-width: 95%;
  margin: 0 auto;
  color: var(--azul-1);
}

section.about-container {
  max-width: 75%;
  margin: 3rem auto;
  padding: 0 1rem;
  font-family: "Sora", sans-serif;
  color: var(--azul-1);
  text-align: center;
}

section.about-container > div {
  margin-bottom: 2.5rem;
}

section.about-container h2 {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 2rem;
  color: var(--azul-2);
  margin-bottom: 0.8rem;
}

section.about-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 400;
  max-width: 700px;
  margin: 0 auto;
  color: var(--azul-1);
}

.carousel-container {
  margin: 3rem 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 550px;
  width: 100%;
}

.carousel-container h3 {
  font-size: 1.5rem;
  font-family: "Comfortaa";
  color: var(--azul-2);
  margin-bottom: 1rem;
}

.carousel {
  display: flex;
  gap: 1.2rem;
  animation: scroll-carousel 45s linear infinite;
  width: max-content;
}

.carousel-item {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.carousel-item p {
  margin-top: 0.5rem;
  font-family: "Comfortaa";
  font-weight: 900;
  color: var(--azul-1);
}

.carousel-item:hover {
  transform: scale(1.05);
}

/* Animación automática */
@keyframes scroll-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
