.admin-container {
  max-width: 95%;
  margin: 0 auto;
  font-family: "Sora";
  color: var(--azul-1);
}

.admin-dashboard h1 {
  color: var(--dorado);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.admin-cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-card {
  background-color: var(--gris-2);
  color: var(--negro);
  border-left: 8px solid var(--dorado);
  padding: 1.5rem;
  border-radius: 12px;
  width: 250px;
  text-decoration: none;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.admin-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
