@import "/src/styles/colors.css";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--blanco);
  font-family: "Sora";
}

@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

.Toastify__toast--success {
  background: var(--blanco) !important;
  color: var(--azul-2) !important;
  font-family: "Comfortaa";
  font-weight: 900;
  border-radius: 10px !important;
}

.Toastify__toast-body {
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
}

.Toastify__progress-bar {
  background: var(--dorado) !important;
}

.Toastify__close-button {
  display: none;
}
